.Results section {
  background-color: #343434;
  color: #f3f3f3;
}
.Results .word {
  padding: 35px;
}
.Results h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .Results .word {
    padding: 20px;
  }
}
